[Unit]
Description=Photographer Service
After=network.target

[Service]
Environment="API_URL=https://api.teamglados.com/postimage"
ExecStart=/usr/bin/python photographer.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
